# Julia & IDE build/temp files
*.user
*.mem
*.cov
*.jl.cov
*.jl.*.cov
*.jl.mem

Articles/
seminaria/
results/
docs/build/
experiments/

Articles/*

# Package manifests (should not be tracked for Julia packages)
Manifest.toml
docs/Manifest.toml

